

.div_1 { background-color: crimson;
    border-width: 5px;
    border-color: black;
    border-style: solid;
        }

/* los elementos se componen de varias partes */
/* el contenido, la imagen en este caso */
/* el padding, la distancia entre el contenido y el border */
/* el border es la distancia entre el padding y la margen */
/* margir es distancia entre elementos */
img { width: 200px;
    
    
    border-width: 5px;
    border-color: black;
    border-style: solid;

    padding: 10px;
    background-color: yellow;

    /* se puede modificar el padding de forma específica para cada lado */
    /* padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px; */

    /* también se puede escribir todo en una sola linea  */
    /* padding: 10px 10px 10px 10px; */

    margin: 30px;

    }

/* tipos de tamaños */

#Container { font-family: Arial, Helvetica, sans-serif;
            background-color:lavender;
            color:floralwhite;
            padding: 5px;
            font-size: 30px;
            }

.claseSize {padding: 5px; margin: 5px;}

.px{ background-color: yellow;
    width: 200px;    
    }
.vw{ background-color: blue;
    width: 20vw;    
    }
.em{ background-color: red;
    width: 15em;
      
    }

/* 
    color: #hexadecimal 
    color: rgb(0, 0, 0)

*/
/* ----------------------------------- */

.padre { background: wheat;
        display: flex;

        /* row (estándar): de la izquierda a la derecha
        row-reverse: de la derecha a la izquierda
        column: mismo que row, pero de arriba a abajo
        column-reverse: mismo que row-reverse pero de abajo hacia arriba
         */
        flex-direction: column;

        /* si los elementos no caben en la fila saltan a la otra */
        flex-wrap: wrap;    }

.hijo1 { background: yellow; 
        width: 250px;
        height: 250px;}

.hijo2 { background: blue; 
        width: 250px;
        height: 250px;} 

.hijo3 { background: red; 
        width: 250px;
        height: 250px;}


